@font-face {
    font-family: 'HummingStd-D-AlphaNum';
    src: url('HummingStd-D-AlphaNum.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SkipStd-B-AlphaNum';
    src: url('SkipStd-B-AlphaNum.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
  font-family:'HummingStd-D-AlphaNum';
  background-color: #87CEEB;
  color: #3D5E6B;
}
h1,h4{
    font-family:'SkipStd-B-AlphaNum';
}
img {
    border: 3px solid #000;
    box-shadow: 5px -10px 8px rgba(0,0,0,0.5);
}
.btn{
    font-family:'HummingStd-D-AlphaNum';
}