@font-face {
    font-family: 'HummingStd-D-AlphaNum';
    src: url('HummingStd-D-AlphaNum.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SkipStd-B-AlphaNum';
    src: url('SkipStd-B-AlphaNum.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
  font-family:'HummingStd-D-AlphaNum';
  background-color: #228C22;
  color: #000000;
}
body{
  background-color: #228C22;  
}
h1,h4{
    font-family:'SkipStd-B-AlphaNum';
}
img {
    border: 3px solid #000;
    box-shadow: 5px -10px 8px rgba(0, 0, 0, 0.5);
}
textarea, input, select {
    background-color: #fff !important;
    color: #000 !important;
}
a {
    color: #921BBF;
}
.btn{
    font-family:'HummingStd-D-AlphaNum';
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;  
}
#pageContainer {
  position: relative;
  min-height: 100vh;
}

#contentWrap {
  padding-bottom: 1rem;    /* Footer height */
}

.charImport, .castMerge {
    margin: 12px;
}