@font-face {
    font-family: 'HummingStd-D-AlphaNum';
    src: url('HummingStd-D-AlphaNum.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SkipStd-B-AlphaNum';
    src: url('SkipStd-B-AlphaNum.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
  font-family:'HummingStd-D-AlphaNum';
  background-color: #228C22;
  color: #155915;
}
h1,h4{
    font-family:'SkipStd-B-AlphaNum' !important;
}
img {
    border: 1px solid;
    box-shadow: 5px -10px 8px #114611;
}
textarea, input, select {
    background-color: #fff !important;
    color: #000 !important;
}
a {
    color: #921BBF;
}