@font-face {
    font-family: 'HummingStd-D-AlphaNum';
    src: url('HummingStd-D-AlphaNum.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SkipStd-B-AlphaNum';
    src: url('SkipStd-B-AlphaNum.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
  font-family:'HummingStd-D-AlphaNum';
  background-color: #000316;
  color: #80818a;
}
h1,h4{
    font-family:'SkipStd-B-AlphaNum' !important;
}
img {
    border: 3px solid;
}
.btn{
    font-family:'HummingStd-D-AlphaNum';
}